---
const year = new Date().getFullYear();
---
<footer class="mt-auto pt-20 text-sm text-neutral-500 dark:text-neutral-600 flex justify-center transition-colors duration-300">
  <span>&copy; {year} Ioannis Lo</span>
</footer>
